<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC (TAB GOES HERE)</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <img src="https://images-na.ssl-images-amazon.com/images/I/81UzOaQ6VyL._SY355_.jpg">
  </body>
</html>