<!DOCTYPE html>
<html>
  <head> 
  <title>
    Klosston
  </title>
  </head>
  
  <body>
    <h1>
      Karlie's Hometown
    </h1>
    <p>She grew up in St.Loius.</p>
    <img src="https://images-na.ssl-images-amazon.com/images/I/81UzOaQ6VyL._SY355_.jpg">
  </body>
</html>