<!DOCTYPE html>
<html>
  <head> 
  <title>
    Karlie's Bio
  </title>
  </head>
  
  <body>
    <h1>
      Karlie's Hometown
    </h1>
    <p>She grew up in St.Loius.</p>
    <img src=""
  </body>
</html>